body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #ffa781;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
